AUTH_SECRET=
AUTH_DRIZZLE_URL=postgres://postgres:postgres@127.0.0.1:5432/site_builder_db
AUTH_RESEND_KEY=

NEXT_PUBLIC_URL=
NEXT_PUBLIC_DATA_REVALIDATE_SEC=
NEXT_PUBLIC_QUERY_STALE_TIME=
NEXT_PUBLIC_QUERY_GC_TIME=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_PRESET=
